.row{
    margin: 0px;
}
.item{
    height: auto;
    padding: 0;
    margin-bottom: 14px;
    border-radius: 4px;

    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}
.nav{
    text-align: center;
}
.nav ul{
    padding-left: 0;
}
.nav li{
    list-style: none;
    border-bottom: 1px solid #e1e1e8;
    padding: 10px 0;
}
.nav li:last-child{
    border-bottom: none;
}
@media (min-width: 992px){
    .col-md-4{
        margin-right:15px ;
        width: calc(33.33333333% - 15px);
    }
}
@media (max-width: 767px){
    .btn-primary{
        width: 100%;
        margin-bottom: 15px;
    }
}